sourcecode/Azure.DataCenterMigration.Models/xsd/NetworkConfiguration.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/ServiceHosting/2011/07/NetworkConfiguration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="NetworkConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="VirtualNetworkConfiguration">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Dns">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="DnsServers">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="DnsServer" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="name"/>
                                  <xs:attribute type="xs:string" name="IPAddress"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="LocalNetworkSites">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="LocalNetworkSite" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="VPNGatewayAddress"/>
                          <xs:element name="AddressSpace">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="AddressPrefix"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="name"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="VirtualNetworkSites">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="VirtualNetworkSite" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Gateway">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="VPNClientAddressPool">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="AddressPrefix"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="ConnectionsToLocalNetwork">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="LocalNetworkSiteRef">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Connection">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="type"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute type="xs:string" name="name"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="profile"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="DnsServersRef">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="DnsServerRef" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="name"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Subnets">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Subnet" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="AddressPrefix"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="name"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="AddressSpace">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="AddressPrefix"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="name"/>
                        <xs:attribute type="xs:string" name="AffinityGroup"/>
                        <xs:attribute type="xs:string" name="Location"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>